<div class="wrapper">
    <div class="side-menu-wrapper">
        <app-side-menu [routes]="routes"></app-side-menu>
    </div>
    <section class="content">
        <ng-container *ngIf="user != undefined">

            <ng-container *ngIf="user.sentFriendRequests != null && user.sentFriendRequests.length">
            <section class="sent-requests">
                <h3>Your sent friends requests</h3>
                <div class="">
                    <ul class="sent-requests__list" *ngFor="let request of user.sentFriendRequests">
                        <li class="sent-requests__item">
                            User: {{request.user}}
                        </li>
                    </ul>
                </div>
            </section>
            </ng-container>

            <ng-container *ngIf="user.receivedFriendRequests != null && user.receivedFriendRequests.length">
            <section class="received-requests">
                <h3>Your received friends requests</h3>
                <div class="">
                    <ul class="received-requests__list" *ngFor="let request of user.receivedFriendRequests">
                        <li class="received-requests__item">
                            User: {{request.user}}
                            <app-button [buttonConfig]="addFriendButtonConfig" (click)="addFriend(request.id, request.userId)"></app-button> &nbsp;
                            <app-button [buttonConfig]="rejectFriendButtonConfig" (click)="rejectFriend(request.id)"></app-button>
                        </li>
                    </ul>
                </div>
            </section>
            </ng-container>

            <h3>Your friends:</h3>
            <div>
                <div class="search-input-wrapper">
                    <app-input [inputParameters]="searchInput" (input)="getUsersByName($event)"></app-input>
                    <ul class="search-results" *ngFor="let friend of friendsSearchResults">
                        <li class="search-result__item">
                            <div>{{friend.name}} {{friend.surname}} ({{friend.email}})</div>
                            <app-button [buttonConfig]="{type: 'default', size: 'small', text: '+', disabled: false}" (click)="sendFriendRequest($event, friend.id)"></app-button>
                        </li>
                    </ul>
                </div>
            </div>

            <ng-container *ngIf="user.friends.length else noFriendsTemplate">
                <div class="">
                    <ng-container *ngFor="let friend of user.friends">
                        <div class="col-4">
                            {{friend.name}}
                        </div>
                    </ng-container>
                </div>
            </ng-container>
            <ng-template #noFriendsTemplate>
                <h4 class="col-12">
                    It looks like you haven't added any friends yet. You can find friends using the field above.
                </h4>
            </ng-template>
        </ng-container>
    </section>
</div>


