<div class="wrapper">
    <div class="side-menu-wrapper">
        <app-side-menu></app-side-menu>
    </div>
    <section class="friends">
        <ng-container *ngIf="user != undefined">
            <h2>Your friends:</h2>
            <div>
                <div class="search-input-wrapper">
                    <app-input [inputParameters]="searchInput" (input)="getUsersByName($event)"></app-input>
                    <ul class="search-results" *ngFor="let friend of friendsSearchResults">
                        <li class="search-result__item">
                            <div>{{friend.name}} {{friend.surname}} ({{friend.email}})</div>
                            <app-button [buttonConfig]="{type: 'default', size: 'small', text: '+', disabled: false}" (click)="sendFriendRequest($event, friend.id)"></app-button>
                        </li>
                    </ul>
                </div>
            </div>

            <ng-container *ngIf="user.friends.length else noFriendsTemplate">
                <div class="">
                    <ng-container *ngFor="let friend of user.friends">
                        <div class="col-4">
                            {{friend.name}}
                        </div>
                    </ng-container>
                </div>
            </ng-container>
            <ng-template #noFriendsTemplate>
                <h4 class="col-12">
                    It looks like you haven't added any friends yet. You can find friends using the field above.
                </h4>
            </ng-template>
        </ng-container>
    </section>
</div>


