@import "../../../styles/variables.scss";

.icon-logout {
    transform: rotate(180deg);
}

.side-menu {
    position: fixed;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    padding-top: 45px;
    width: 290px;
    padding-right: 30px;

    .side-menu__logo {
        padding-left: 40px;
        padding-bottom: 70px;
    }

    .side-menu__logo-text {
        @include heading5;
    }

    .side-menu__logo-img {
        width: 40px;
        height: 40px;
    }

    a {
        display: flex;
        align-items: center;
        column-gap: 25px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .side-menu__item {
        height: 56px;
    }

    .side-menu__item:hover {
        background: rgba(159, 162, 180, 0.2);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .side-menu__link {
        height: 100%;
        display: flex;
        align-items: center;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        padding-left: 30px;

        /* identical to box height */
        letter-spacing: 0.2px;

        /* gray */
        color: #9fa2b4;
    }

    .side-menu__divider {
        border-top: 1px solid rgba(221, 197, 197, 0.06);
        margin-bottom: 15px;
    }
}
