.wrapper {
    display: flex;
    column-gap: 20px;

    .content {
        padding-top: 40px;

        h3 {
            margin-bottom: 20px;
        }

        section {
            margin-bottom: 20px;
        }


        /* Customize the label (the container) */
        .custom-checkbox-container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: #a8aebf;
            font-family: Poppins, sans-serif;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 20px;

            /* Hide the browser's default checkbox */
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

            /* Style the checkmark/indicator */
            .custom-checkmark:after {
                left: 7px;
                top: 0;
                width: 8px;
                height: 14px;
                border: solid #fff;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }

        /* Create a custom checkbox */
        .custom-checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            outline: none;
            border: 2px solid #323b54;
            transition: 0.3s ease;
            color: #475069;
        }

        /* On mouse-over, add a grey background color */
        .custom-checkbox-container:hover input ~ .custom-checkmark {
            border-color: #7b6ef6;
        }

        /* When the radio button is checked, add a blue background */
        .custom-checkbox-container input:checked ~ .custom-checkmark {
            background-color: #7b6ef6;
            border: none;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .custom-checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .custom-checkbox-container input:checked ~ .custom-checkmark:after {
            display: block;
        }

        .genres-section {
            display: flex;
            flex-wrap: wrap;

            div {
                flex: 0 0 150px;
            }
        }
    }
}
