<div class="wrapper">
    <app-header></app-header>

    <section class="control">
        <div class="container">
            <form [formGroup]="selectionForm" class="selection__control">
                <div class="selection__option">
                    <div class="choice-content">
                        <!-- change conditional in future after implementing dynamic search list -->
                        <ng-container
                            *ngIf="firstResults.length === 0; else firstResult"
                        >
                            <img
                                class="preview-logo"
                                src="../../../../../assets/images/logo-large.png"
                                width="80"
                                height="80"
                            />
                        </ng-container>

                        <ng-template #firstResult>
                            <ng-container
                                *ngFor="let searchResult of firstResults"
                            >
                                <app-search-item
                                    @fade
                                    [searchItem]="searchResult"
                                ></app-search-item>
                            </ng-container>
                        </ng-template>
                    </div>
                    <app-input
                        formControlName="firstSection"
                        [inputParameters]="selectionConfig.inputs.searchInput"
                    ></app-input>
                </div>
                <div class="button-find">
                    <span class="icon-logo"></span>
                </div>
                <div class="selection__option">
                    <div class="choice-content">
                        <!-- change conditional in future after implementing dynamic search list -->
                        <ng-container
                            *ngIf="
                                secondResults.length === 0;
                                else secondResult
                            "
                        >
                            <img
                                class="preview-logo"
                                src="../../../../../assets/images/logo-large.png"
                                width="80"
                                height="80"
                            />
                        </ng-container>

                        <ng-template #secondResult>
                            <ng-container
                                *ngFor="let searchResult of secondResults"
                            >
                                <app-search-item
                                    @fade
                                    [searchItem]="searchResult"
                                ></app-search-item>
                            </ng-container>
                        </ng-template>
                    </div>
                    <app-input
                        formControlName="secondSection"
                        [inputParameters]="selectionConfig.inputs.searchInput"
                    ></app-input>
                </div>
            </form>
        </div>
    </section>

    <section>
        <app-collection
            class="selected-movies"
            [direction]="selectionConfig.bestOptions.direction"
            [label]="selectionConfig.bestOptions.label"
            [movies]="bestOptions"
        ></app-collection>
    </section>

    <section class="mightlike">
        <div class="container">
            <app-collection
                [label]="selectionConfig.mightLike.label"
                [movies]="movies"
            ></app-collection>
        </div>
    </section>

    <section class="catalog">
        <div class="catalog-content">
            <h3>{{ selectionConfig.moreMovies.text }}</h3>
            <app-button
                [buttonConfig]="selectionConfig.moreMovies.button"
            ></app-button>
        </div>
    </section>
</div>
