<div class="wrapper">
    <app-header></app-header>

    <section class="control">
        <div class="container">
            <form [formGroup]="selectionForm" class="selection__control">
                <div class="selection__option">
                    <div
                        class="choice-content"
                        [ngStyle]="{
                            padding: selectedFirst ? 0 : '7px'
                        }"
                        [ngClass]="{
                            isSelected: selectedFirst
                        }"
                    >
                        <!-- change conditional in future after implementing dynamic search list -->
                        <ng-container
                            *ngIf="firstResults.length === 0 && !selectedFirst"
                        >
                            <img
                                class="preview-logo"
                                src="../../../../../assets/images/logo-large.png"
                                width="80"
                                height="80"
                            />
                        </ng-container>

                        <ng-container
                            *ngIf="firstResults.length > 0 && !selectedFirst"
                        >
                            <ng-container
                                *ngFor="let searchResult of firstResults"
                            >
                                <app-search-item
                                    (onClickItem)="
                                        onClickmovie('first', $event)
                                    "
                                    matTooltipPosition="before"
                                    [matTooltip]="searchResult.title"
                                    @fade
                                    [searchItem]="searchResult"
                                ></app-search-item>
                            </ng-container>
                        </ng-container>

                        <ng-container *ngIf="selectedFirst">
                            <div
                                @fade
                                class="selected"
                                [ngClass]="{
                                    transBack: !selectedFirst.imagePath
                                }"
                            >
                                <img
                                    [src]="
                                        selectedFirst.imagePath ||
                                        placeholderImage
                                    "
                                />
                                <h3>{{ selectedFirst.title }}</h3>
                            </div>
                        </ng-container>
                    </div>
                    <app-input
                        formControlName="firstSection"
                        [inputParameters]="selectionConfig.inputs.searchInput"
                    ></app-input>
                </div>
                <div class="button-find">
                    <span class="icon-logo"></span>
                </div>
                <div class="selection__option">
                    <div
                        class="choice-content"
                        [ngStyle]="{
                            padding: selectedSecond ? 0 : '7px'
                        }"
                        [ngClass]="{
                            isSelected: selectedSecond
                        }"
                    >
                        <!-- change conditional in future after implementing dynamic search list -->
                        <ng-container
                            *ngIf="
                                secondResults.length === 0 && !selectedSecond
                            "
                        >
                            <img
                                class="preview-logo"
                                src="../../../../../assets/images/logo-large.png"
                                width="80"
                                height="80"
                            />
                        </ng-container>

                        <ng-container
                            *ngIf="secondResults.length > 0 && !selectedSecond"
                        >
                            <ng-container
                                *ngFor="let searchResult of secondResults"
                            >
                                <app-search-item
                                    (onClickItem)="
                                        onClickmovie('second', $event)
                                    "
                                    matTooltipPosition="after"
                                    [matTooltip]="searchResult.title"
                                    @fade
                                    [searchItem]="searchResult"
                                ></app-search-item>
                            </ng-container>
                        </ng-container>

                        <ng-container *ngIf="selectedSecond">
                            <div
                                @fade
                                class="selected"
                                [ngClass]="{
                                    transBack: !selectedSecond.imagePath
                                }"
                            >
                                <img
                                    [src]="
                                        selectedSecond.imagePath ||
                                        placeholderImage
                                    "
                                />
                                <h3>{{ selectedSecond.title }}</h3>
                            </div>
                        </ng-container>
                    </div>
                    <app-input
                        formControlName="secondSection"
                        [inputParameters]="selectionConfig.inputs.searchInput"
                    ></app-input>
                </div>
            </form>
        </div>
    </section>

    <section>
        <app-collection
            class="selected-movies"
            [direction]="selectionConfig.bestOptions.direction"
            [label]="selectionConfig.bestOptions.label"
            [movies]="bestOptions"
        ></app-collection>
    </section>

    <section class="mightlike">
        <div class="container">
            <app-collection
                [label]="selectionConfig.mightLike.label"
                [movies]="movies"
            ></app-collection>
        </div>
    </section>

    <section class="catalog">
        <div class="catalog-content">
            <h3>{{ selectionConfig.moreMovies.text }}</h3>
            <app-button
                [buttonConfig]="selectionConfig.moreMovies.button"
            ></app-button>
        </div>
    </section>
</div>
