@import "../../../../../styles/variables.scss";

:host {
  display: block;
}

.item {
  background-color: rgba($primary-400, 0.6);
  border-radius: $button-radius;
  color: $white;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 15px;
  transition: 0.2s;

  .img-block {
    border-radius: 50%;
    overflow: hidden;
    max-width: 35px;
    height: 35px;
  }
  &-title {
    flex-grow: 1;
  }

  app-rate {
    flex-grow: 0;
  }

  &:hover {
    background-color: rgba($primary-400, 0.8);
    transform: translateY(-3px);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.6);
  }
}
