<!--<div *ngIf="showError" class="alert alert-danger" role="alert">-->
<!--    {{errorMessage}}-->
<!--</div>-->

<form [formGroup]="collectionForm" autocomplete="off" novalidate (ngSubmit)="sendCollectionForm(collectionForm.value)">
    <input type="hidden" id="id" formControlName="id" />
    <input type="hidden" id="authorId" formControlName="authorId" />
    <div class="mb-3 row">
        <div class="col-md-5">
            <app-input formControlName="name" [inputParameters]="nameInputConfig"></app-input>
        </div>
        <div class="col-md-5">
            <em *ngIf="validateControl('name') && hasError('name', 'required')">Name is required</em>
        </div>
    </div>
    <br>
    <div class="mb-3 row">
        <div class="mb-3 row">
            <app-button
                [text]="'Add new collection'"
                class="col-12 mb-4"
                type="submit"
                [disabled]="!collectionForm.valid"
                [buttonConfig]="submitButtonConfig"
            ></app-button>
        </div>
    </div>
</form>
