<app-header></app-header>

<div class="container">
    <div class="movie-preview">
        <div class="image-block">
            <img class="img" [src]="movie.imagePath" />
        </div>
        <div class="movie-name">
            <h3>
                {{ movie.title }}
            </h3>
        </div>
    </div>
</div>

<div class="container">
    <section class="info">
        <div class="info-img">
            <img [src]="movie.imagePath" width="480" height="720" />
        </div>
        <div class="info-description">
            <div class="description-main">
                <h4>{{ movie.director }}</h4>
                <p>{{ movie.description }}</p>
            </div>
            <div class="description-fields">
                <app-rate class="mb-4" [rateValue]="movie.commonRating">
                </app-rate>
                <div class="row mb-4">
                    <app-movie-field
                        class="col"
                        [fieldConfig]="configuration.type"
                    ></app-movie-field>
                    <app-movie-field
                        class="col"
                        [fieldConfig]="configuration.date"
                    ></app-movie-field>
                </div>
                <div class="row mb-4">
                    <app-movie-field
                        class="col"
                        [fieldConfig]="configuration.duration"
                    ></app-movie-field>
                </div>
                <div class="row mb-4">
                    <app-movie-field
                        class="col"
                        [fieldConfig]="configuration.genres"
                    ></app-movie-field>
                </div>
                <div class="row">
                    <app-button
                        class="see-later"
                        [buttonConfig]="btnConfig"
                    ></app-button>
                </div>
            </div>
        </div>
    </section>
    <section class="comment-block">
        <h3>Comments</h3>
        <div class="comment-block mb-3">
            <div class="comment-list">
                <ng-container *ngFor="let comment of movie.comments">
                    <div class="comment">
                        <app-comment [comment]="comment"></app-comment>
                    </div>
                </ng-container>
            </div>
        </div>
        <form
            [formGroup]="addCommentForm"
            (ngSubmit)="onSubmit()"
            class="comment-create d-flex flex-column"
        >
            <app-input
                formControlName="comment"
                class="mb-3"
                [inputParameters]="addCommentinput"
            ></app-input>
            <div class="comment__controls">
                <app-button
                    [disabled]="addCommentForm.invalid"
                    type="submit"
                    class="comment-btn"
                    [buttonConfig]="addCommentButton"
                ></app-button>
            </div>
        </form>
    </section>
</div>
