<div class="wrapper">
    <div class="comment">
        <div class="comment-title">{{ comment.author.name }}</div>
        <p>
            {{ comment.body }}
        </p>
        <div class="comment__controlers">
            <span class="icon-like" (click)="updateRate(comment.id, comment.rating + 1)"></span>
            <span
                [ngClass]="{
                    minus: comment.rating <= 0,
                    plus: comment.rating > 0
                }"
                class="rate"
                >{{ comment.rating }}</span
            >
            <span (click)="updateRate(comment.id,comment.rating - 1)" class="icon-dislike"></span>
        </div>
    </div>
</div>
