<div class="collection" *ngIf="direction === 'horizontal'">
    <span class="collection-title">
        <h2>{{ label }}</h2>
        <p>({{ getTotalMoviesNumber() }})</p>
    </span>

    <ul class="collection__list">
        <li *ngFor="let movie of movies">
            <app-card [movieCardParameters]="movie"></app-card>
        </li>
    </ul>
    <app-block-view></app-block-view>
</div>

<div class="collection-default" *ngIf="direction === 'default'">
    <div class="collection-title">
        <h2>{{ label }}</h2>
    </div>

    <div class="collection__list">
        <div class="collection-item" *ngFor="let movie of movies">
            <app-card [movieCardParameters]="movie"></app-card>
        </div>
    </div>
</div>

<ng-container *ngIf="users != undefined">
    <div class="collection-default" *ngIf="direction === 'default'">
        <div class="collection-title">
            <h2>{{ label }}</h2>
        </div>

        <div class="collection__list">
            <div class="collection-item" *ngFor="let user of users">
                <app-card [movieCardParameters]="user"></app-card>
            </div>
        </div>
    </div>
</ng-container>
