<div class="input-block" *ngIf="inputParameters.type === 'default'">
    <input
        [ngClass]="{
            'input-icon': inputParameters.icon
        }"
        class="input field"
        type="text"
        [placeholder]="inputParameters.placeholder"
        (input)="change($event)"
        [value]="value"
        [disabled]="inputParameters.isdisabled"
    />

    <span
        *ngIf="inputParameters.icon"
        class="icon-{{ inputParameters.icon }}"
    ></span>

    <!-- uncomment this block when you'll implement the reactive form -->
    <!-- <div
        class="input-error"
        *ngIf="control!.invalid && control!.touched && control!.dirty"
    >
        <span>{{ inputParameters.error }}</span>
    </div> -->
</div>

<div class="textarea-block" *ngIf="inputParameters.type === 'textarea'">
    <textarea
        rows="4"
        [ngClass]="{
            'input-icon': inputParameters.icon
        }"
        class="textarea field"
        [placeholder]="inputParameters.placeholder"
        (input)="change($event)"
        [(ngModel)]="value"
        [disabled]="inputParameters.isdisabled"
    ></textarea>

    <span
        *ngIf="inputParameters.icon"
        class="icon-{{ inputParameters.icon }}"
    ></span>

    <!-- uncomment this block when you'll implement the reactive form -->
    <!-- <div class="input-error" *ngIf="control!.invalid && control!.touched && control!.dirty">
        <span>{{ inputParameters.error }}</span>
    </div> -->
</div>
