<div class="wrapper">
    <section>
        <h2 class="section-title">Buttons</h2>
        <app-button [buttonConfig]="defaultButton"></app-button>
        <app-button [buttonConfig]="dangerButton"></app-button>
        <app-button [buttonConfig]="successButton"></app-button>
        <app-button [buttonConfig]="smallButton"></app-button>
        <app-button [buttonConfig]="disabledButton"></app-button>
        <app-button [buttonConfig]="iconButton"></app-button>
        <app-button [buttonConfig]="linkButton"></app-button>
        <app-button [buttonConfig]="unactive"></app-button>
    </section>
    <section>
        <h2 class="section-title">Inputs</h2>
        <app-input [inputParameters]="disabledInput"></app-input>
        <app-input [inputParameters]="defaultIconInput"></app-input>
        <app-input [inputParameters]="defaultInput"></app-input>
        <app-input [inputParameters]="textareaInput"></app-input>
        <app-input [inputParameters]="textareaIconInput"></app-input>
        <app-input [inputParameters]="textareaErrorIconInput"></app-input>
        <app-input [inputParameters]="errorIconInput"></app-input>
    </section>
    <section>
        <h2 class="section-title">Cards</h2>
        <app-card [movieCardParameters]="movieCardDefault"></app-card>
        <app-card [movieCardParameters]="movieCardSmall"></app-card>
        <app-card [movieCardParameters]="movieCardAdmin"></app-card>
    </section>
    <section>
        <h2 class="section-title">Statistic card</h2>
        <app-card [movieCardParameters]="statisticsCard"></app-card>
    </section>
    <section>
        <h2 class="section-title">User card</h2>
        <app-card [movieCardParameters]="userCard"></app-card>
    </section>
</div>
