.wrapper {

    display: flex;
    column-gap: 20px;

    .side-menu-wrapper {
        flex: 0 0 290px;
    }

    .content {
        padding-top: 40px;
        flex: 1 1 auto;

        .collection-link {
            text-decoration: none;
            font-family: Poppins, sans-serif;
            color: #a8aebf;
        }

        .collection-link:hover {
            color: inherit;
        }

        .collection-cards {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            align-items: center;
        }
    }
}
