<aside class="side-menu">
    <div class="side-menu__logo">
        <a href="">
            <img
                src="assets/images/logo.png"
                alt=""
                class="side-menu__logo-img"
            />
            <span class="side-menu__logo-text">FilmBegetter</span>
        </a>
    </div>
    <div class="side-menu__menu">
        <ul>
            <li class="side-menu__item">
                <a class="side-menu__link" href="">
                    <img
                        class="side-menu__icon"
                        src="assets/images/video-play.svg"
                        alt="films"
                    />
                    Films
                </a>
            </li>
            <li class="side-menu__item">
                <a class="side-menu__link" href="">
                    <img
                        class="side-menu__icon"
                        src="assets/images/users.svg"
                        alt="films"
                    />
                    Users
                </a>
            </li>
            <li class="side-menu__item">
                <a class="side-menu__link" href="">
                    <img
                        class="side-menu__icon"
                        src="assets/images/statistics.svg"
                        alt="films"
                    />
                    Statistics
                </a>
            </li>
            <li class="side-menu__divider"></li>
            <li class="side-menu__item">
                <a class="side-menu__link" href="">
                    <img
                        class="side-menu__icon"
                        src="assets/images/logout.svg"
                        alt="films"
                    />
                    Logout
                </a>
            </li>
        </ul>
    </div>
</aside>
